test/orchestrator/translator-full-mesh-tests/edgedetection-switch-flow-1.json
[
  {
      "id": "6a666fff.bfb128",
      "type": "tab",
      "label": "Flow 1"
  },
  {
      "id": "947704f7.a87f4",
      "type": "device out",
      "z": "6a666fff.bfb128",
      "name": "",
      "device": "",
      "_device_id": "input-device-id",
      "_device_label": "input-device-label",
      "_device_type": "device",
      "x": 124,
      "y": 281.1166687011719,
      "wires": [
          [
              "7db25cf7.a0e954"
          ]
      ]
  },
  {
      "id": "7db25cf7.a0e954",
      "type": "edgedetection",
      "z": "6a666fff.bfb128",
      "name": "",
      "property": "payload.attr1",
      "propertyType": "msg",
      "rules": [
          {
              "t": "edge-up",
              "v": "100",
              "vt": "num"
          }
      ],
      "outputs": 1,
      "x": 320,
      "y": 220,
      "wires": [
          [
              "3b6f0941.7aa466"
          ]
      ]
  },
  {
      "id": "3b6f0941.7aa466",
      "type": "switch",
      "z": "6a666fff.bfb128",
      "name": "",
      "property": "payload.attr2",
      "propertyType": "msg",
      "rules": [
          {
              "t": "eq",
              "v": "1000",
              "vt": "num"
          }
      ],
      "checkall": "true",
      "outputs": 1,
      "x": 506,
      "y": 215.35000610351562,
      "wires": [
          [
              "a46196fa.0dd22"
          ]
      ]
  },
  {
      "id": "6c243f3b.4326f",
      "type": "device in",
      "z": "6a666fff.bfb128",
      "name": "",
      "device": "",
      "attrs": "output",
      "_device_id": "output-device-id",
      "_device_label": "output-device-name",
      "_device_type": "virtual",
      "x": 870,
      "y": 260,
      "wires": []
  },
  {
      "id": "a46196fa.0dd22",
      "type": "change",
      "z": "6a666fff.bfb128",
      "name": "",
      "rules": [
          {
              "t": "set",
              "p": "output.result",
              "pt": "msg",
              "to": "yes",
              "tot": "str"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 600,
      "y": 300,
      "wires": [
          [
              "6c243f3b.4326f"
          ]
      ]
  }
]