test/orchestrator/translator-full-mesh-tests/email-flow-1.json
[
  {
    "id": "cd03c24e.ad4b5",
    "type": "tab",
    "label": "Flow 1"
  },
  {
      "id": "ad42e337.a4e128",
      "type": "device out",
      "z": "6a666fff.bfb128",
      "name": "",
      "device": "",
      "_device_id": "input-device-id",
      "_device_label": "input-device-label",
      "_device_type": "device",
      "x": 151,
      "y": 275.1166687011719,
      "wires": [
          [
              "1052bb8e.79ca2c"
          ]
      ]
  },
  {
      "id": "1052bb8e.79ca2c",
      "type": "change",
      "z": "6a666fff.bfb128",
      "name": "",
      "rules": [
          {
              "t": "set",
              "p": "emailBody",
              "pt": "msg",
              "to": "yes",
              "tot": "str"
          }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 588,
      "y": 262.8500061035156,
      "wires": [
          [
              "cfcf5fe7.ec8958"
          ]
      ]
  },
  {
      "id": "cfcf5fe7.ec8958",
      "type": "e-mail",
      "z": "6a666fff.bfb128",
      "server": "gmail-smtp-in.l.google.com",
      "port": "465",
      "secure": true,
      "name": "",
      "dname": "",
      "to": "to@user.com",
      "from": "from@user.com",
      "subject": "You've got e-mail",
      "body": "emailBody",
      "x": 886,
      "y": 294.7166748046875,
      "wires": []
  }
]